# Default
* text=auto

# Binary files so don't modify
*.ico binary
*.png binary
*.jpg binary
*.xlsx binary

# Hide vendor and translation files from language statistics
lang/* linguist-documentation
lib/* linguist-vendored
