[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name={{productName}}
Comment={{description}}
Exec=/opt/{{name}}/electron
Icon=/opt/{{name}}/icon.png
Terminal=false
Categories=Application;
